/*wwwroot don.css*/

/*
.person-editing {
    background-color: #ccffcc;
/*    background-color: red;!1!
}

.table-phones-hidden {
    display: none;
}

.table-phones-shown {
    display: table;
}

*/


#AllPeopleList .list-group-item-heading span.person-buttons {
    float: right;
}

#AllPeopleList .table-phones {
    display: none; 
}

#AllPeopleList .person-editing {
    background-color: #ccffcc;
}

#AllPeopleList .person-editing h4 {
    font-weight: bold;
}

#AllPeopleList .person-editing .table-phones {
    display: table;
}

.modal-content {
     top: 150px;
}
