@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
/*    ViewBag.CurrentPageName = AppPageNames.Tenant.PhoneBook;*/
        ViewBag.CurrentPageName = "PhoneBook";//todo create constant
}

<h2>"PhoneBook"</h2>

<div class="well">
    Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
</div>
